extends format 

block content 

    form(action='' method="POST")
        div.form-cell
            label(for="username") Username 
            input(type="text" required id="username-login-input" name="username") 
        div.form-cell
            label(for="password") Password 
            input(type="password" required id="password-login-input" name="password") 
        button#login-button Login!
