body {
    background-color: rgb(210, 210, 210);
}

#wrong-password {
    display: none;
    color: red;
}

#error-form-msg {
    margin-left: 12px;
}

#footer {
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
}

#footer > a {
    margin-right: 12px;
}