body {
    background-color: rgb(210, 210, 210);
}

#wrong-password {
    display: none;
    color: red;
}

#error-form-msg {
    margin-left: 12px;
}

#footer {
    position: absolute;
    transform: translate(-50%, 50%);
    bottom: 30px;
    left: 50%;
    display: flex;
}

#footer > a {
    margin-right: 12px;
}