:root {
    --background-color: #0f0f0f ; 
    --search-bar-color: #121212 ; 
    --preview-video-sub-info: #AAAAAA ; 
}

body {
    margin: 0;
    font-family: "Arial";
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}

.HomePage {
    width: 100%;
    height: calc(100vh - 56px);
    display: flex;
    overflow: auto;
}

.simple {
    display: flex;
}
