.Home {
    flex-wrap: wrap;
    justify-content: center;
}

.home-page-player {
    max-height: 259px;
    max-width: 362.25px;
    flex: 1;
    min-height: 200px;
    min-width: 230px;
    transition: .2s ease-in;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 25px;
}

.video-container {
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 0 0;
}

.video {
    width: 100%;
}

.home-page-player:hover {
    transform: scale(1.2);
    background-color: #272727;
}

.other-information {
    color: var(--preview-video-sub-info);
}

.video-information {
    padding: 12px;
    display: flex;
    margin: 12px 0 4px 0 ; 
}

#profile-photo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.video-title {
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin-bottom: 6px;
}

.channel-name:hover {
    color: white;
}

.group {
    display: flex;
}

.upload-date {
    margin-left: 3px;
}