
.sidebar , .signed-out-sidebar { 
    height: calc(100vh - 80px) ; 
    width: 240px;
    padding: 12px;
    color: white;
    overflow: auto;
}

::-webkit-scrollbar , ::-webkit-scrollbar-corner {
    background-color: #272727 ; 
}

::-webkit-scrollbar-thumb {
    background-color: black;
    
}

.display-videos {
    height: 100%;
    flex: 1 ;
    border: 4px solid #59DEFF;;
}

.mini-sidebar {
    height: 296px;
    width: 72px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 11px;
}

@media (max-width: 1320px) {
    .sidebar {
        display: none;
    }

    .signed-out-sidebar {
        display: none;
    }
    
    .mini-sidebar {
        display: flex;
    }
}

@media (max-width: 790px) {
    .mini-sidebar {
        display: none;
    }
}

.category {
    display: flex;
    width: 204px;
    height: 46px;
    color: white;
    align-items: center;
    padding: 0 12px;
    font-size: 15px;
    cursor: pointer;
    transition: .05s ease-in;
    border-radius: 25px 25px 25px 25px ; 
}

.category:hover, .mini-category:hover {
    background-color: #272727;
}

.sidebar-icon {
    height: 24px;
    width: 24px;
    margin-right: 24px;
}

.sidebar-profile-related-links, .subscriptions, .display-categories, .miscallenous-sidebar, 
.sign-in-informational {
    margin-top: 12px;
    padding-top: 12px;
}

.category-border {
    border-top: 1px solid #3F3F3F;
}

.sidebar-subtitle {
    font-weight: lighter;
    font-size: 16px;
    padding: 6px 12px 4px;
    margin: 0;
}

.mini-category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 74px ;
    width: 64px; 
    padding: 16px 0 14px;
    border-radius: 10px;
    cursor: pointer;
}

.mini-category-icon {
    height: 24px;
    width: 24px;
    margin-bottom: 6px;
    font-size: 7px;
}

.sign-in-informational {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

#sign-in-message-sidebar {
    margin-bottom: 6px;
}