extends format  

block content
    h1 Hank's Amazing Music Store

    h3 Number of Specific Items
    ul 
        li 
            a(href="/guitars") Guitars 
            span !{data.guitar_count} total
        li 
            a(href="/drums") Drums 
            span !{data.drum_count} total
        li 
            a(href="/tamberines") Tamberines 
            span !{data.tamberine_count} total
    
    h3 Click the Categories of Products You'd Like to View
    ul.categories-list 
        each category in data.categories
            li
                a(href=`/categories/${category.id}`)= category.name  
        
    h3 
        a(href=`/Drums/createDrum`) Create New Drum 
    h3 
        a(href=`/Tamberines/createTamberine`) Create New Tamberine 
    h3 
        a(href=`/Guitars/createGuitar`) Create New Guitar