body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    margin: 0;
}

div {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 12px;
}

.middle_me_please {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.up {
    margin-top: 20px;
}

#down {
    margin-bottom: 40px;
}

.list-product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cell {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cell-text {
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 24px;
    width: 50%;
    text-align: center;
}

.form-cell {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px
}

.form-cell > label { 
    margin-right: 12px;
}

.form-cell > input, .form-cell > textarea, .form-cell > select {
    width: 50%;
}

.form-cell > textarea {
    height: 100px;
}

.wrap-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

form > button {
    width: 300px ; 
}
