@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Pacifico");


body {
    margin: 0;
    font-family: "Raleway";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color: #FF2500; */
    background-color: rgba(255, 37, 0, .5);
    /* background-color: rgba(0, 0, 0, .85) */
}

li {
    list-style: none;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

h3 {
    margin-top: 12px;
    margin-bottom: 0;
    padding: 0;
}

.to-do-list {
    height: 82.5vh;
    width: 82.5vw;
    background-color: white;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 20vw 62.5vw; 
    grid-template-rows: 12vh 70.5vh; 
    box-shadow: 12px 10px 10px 2px darkslategray;
    min-width: 830px;
    min-height: 360p;
}

.topbar {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: rgba(30, 0, 152, .9);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    min-width: 830px;
}

.topbar .title {
    margin-left: 4rem;
    font-size: 4rem;
    font-family: "Pacifico";
}

.topbar .top-nav-bar ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    font-size: 2rem;
}

.topbar .top-nav-bar li {
    cursor: pointer;
}

.sidebar {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: #F5F5F5;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;
    justify-content: space-between;
    font-weight: 700;
    overflow: auto;
    min-width: 200px;
    z-index: 1;
}

.sidebar li, .modal-display-and-sidebar .sidebar-new-window li {
    margin-bottom: 18px;
    cursor: pointer;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.display {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    min-width: 630px;
    padding-bottom: 24px;
} 

.display .empty-project, .display .empty-notes, .display .empty-todos, .display .empty-lists {
    display: none;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
}

#no-project-create-project, #no-notes-create-notes, #no-list-create-list, 
#add-new-entry-button, #submit-new-project, #submit-new-note, #submit-new-todo, 
#no-todos-create-todos, #edit-project, #edit-todo, #edit-note {
    height: 50px;
    width: 200px;
    font-size: 24px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 24px;
    background-color: #FF2500;
    border: none;
    color: white;
    box-shadow: 4px 4px 4px 1px darkslategray;
    transition: all .3s ease;
    display: block;
}


#edit-project, #edit-todo, #edit-note {
    display: none;
}

#no-project-create-project:active, #no-notes-create-notes:active, #no-list-create-list:active, #add-new-entry-button:active, #submit-new-project:active, #submit-new-note:active, 
#edit-project:active, #edit-todo:active, #edit-note:active  {
    /* border: black 2px solid; */
    height: 45px;
    width: 190px;
}

/* Begin All styling for the show-all-frames */ 

.show-all-notes, .show-all-projects, .show-all-lists {
    height: 100%;
    width: 100%;
    overflow: auto;
    border-bottom-right-radius: 25px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}


#delete-from-list {
    height: 24px;
    width: 24px;
    cursor: pointer;
    
}

.notes-container-1, .notes-container-2, .notes-container-3, .projects-container-1, .projects-container-2, 
.projects-container-3, .lists-container-1, .lists-container-2, .lists-container-3 {
    width: 33%;
}


.display-todos {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    overflow: scroll;
    align-items: center;    
}

.to-do-title, .part-of-project, .to-do-due-date, .hold-icons{
    width: 30%;
    height: 100%;
    display: flex ; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 24px;
}


.hold-icons {
    width: 7% ; 
}

.to-do-due-date {
    width: 13%;
}

.hold-icons {
    margin-left: 24px;
}


.singular-todo {
    background-color: #F3F0F0;
    width: 98%;
    height: 12%;
    min-height: 65px;
    margin-top: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 1.15rem;
    position: relative;
    justify-content: space-evenly;
    overflow: auto;
}

.priority-color {
    left: 0;
    width: 12px;
    height: 100%;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.red {
    background-color: #FF4646;
}

.yellow {
    background-color: #FAFF46;
}

.green {
    background-color: #46FF4A;
}

#big-delete {
    font-size: 1.5rem;
}

#big-pencil {
    height: 1.25rem;
}

.display-note, .display-project, .display-all-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
    max-height: 60%;
    overflow: auto;
    text-align: center; 
    background-color: #F3F0F0;
    margin: 8px;
    border-radius: 25px;
}

.display-project ul {
    padding: 0;
}

.display-list-contents {
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    width: 100%;
}

.display-list-contents li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;

}

.title-and-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hold-icons {
    margin-right: 24px;
}


.note-delete-edit {
    display: flex;
    align-items: center;
}

.note-title-and-icons .icons {
    display: flex;
    align-items: center;
}

.edit-pencil {
    height: 16px;
    cursor: pointer;
    opacity: .5;
    margin-right: 24px;
}

.edit-pencil:hover {
    opacity: 1;
}

.delete-icon {
    transform: rotate(90deg);
    font-size: 18px;
    opacity: .5;
}

.delete-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.display-title {
    font-weight: 700;
    font-family: "Pacifico";
}

.display-project-due-date {
    margin-top: 10px;
}

/* End all styling for the show all frames */ 

.display .build-list {
    flex: 1;
    display: none;
    overflow: auto;
    justify-content: space-between;
    position: relative;
}

.display .build-list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: column;
    padding: 24px;
}

.display .build-list li::before {
    /* list-style-image: url("./check.svg"); */
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    background-size: 24px;
    background-image: url("./check.svg");
    cursor: pointer;
}

.display .build-list li {
    display: flex;
    font-size: 1.25rem;

}

.display .build-list .move-down {
    margin-left: 12px;
    margin-right: 12px;
    cursor: default;
}

.display .build-list #add-list-items {
    background-color: #FF2500;
    font-size: 16px;
    height: 30px;
    border-radius: 25px;
    width: 160px;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 12px;
}

.bottom {
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


.bottom #title-of-list {
    font-family: "Pacifico";
    font-weight: 100;
}


.display .build-list #add-list-items:active {
    /* border: black 2px solid; */
    height: 25px;
    width: 150px;
}

.display .build-note {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    flex: 1;
    overflow: auto;

}

.display .build-note #note-title {
    font-family: "Pacifico";
    margin-bottom: 12px;
    font-size: 48px;
    font-weight: 100;
}

.display .build-note #note-contents {
    font-size: 1.25rem;
    line-height: 1.75rem;
}



.background-modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 2;
}


.modal {
    width: 60%;
    height: 50%;
    background-color: white;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    min-height: 300px;
    z-index: 3;
}

.topbar-new-window{
    height: 10%;
    background-color: rgba(0,97,0, 1);
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 2rem; 
}



.topbar-new-window .new-window-title {
    margin-left: 36px;
}

.topbar-new-window .exit_button {
    margin-right: 36px;
    cursor: pointer;
    transform: rotate(90deg);
    opacity: .5;
}

.topbar-new-window .exit_button:hover {
    opacity: 1;
}

.modal-display-and-sidebar {
    display: flex;
    height: 100%;
    width: 100%;
}

.modal-display-and-sidebar .sidebar-new-window {
    height: 100%;
    width: 30%;
    border-bottom-left-radius: 5px;
    font-size: 1.75rem;
    background-color: #E7E7E7;
    overflow: hidden;
}


/*Contains generalized code for Adding in Modal and code specific for adding to Project */ 

.form {
    font-size: 1.3rem;
}

.modal-display-and-sidebar .display-new-window {
    height: 100%;
    width: 70%;
    border-bottom-right-radius: 5px;
}


.add-project-form {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.title-input {
    height: 10%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    font-size: 1.3rem;
    padding-left: 4px;
    font-family: "Raleway";
}

.title-input::placeholder {
    color: darkslategrey;
}

.title-input:placeholder-shown {
    cursor: text;
    top: 20px;
}

.title-input:focus {
    transition: .4s;
    border-color: black;
}

#project-description-input {
    height: 50%;
}

.description-box {
    resize: none;
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding-left: 4px;
    font-family: "Raleway";

}

.description-box::placeholder {
    color: darkslategrey;
}

.due-dates {    
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}

.due-dates .add-margin {
    margin-left: 5%;
}

.project-priorities {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.checked-radio-box {
    transition: all .8s ease;
}

.todo-due-date {
    display: flex ; 
    width: 100%; 
    justify-content: center;
}

#todo-date-input {
    margin-left: 3%;
}


input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    color: black;
    font-size: 14px;
    font-weight: 700;
    border: 1px black solid;
    height: 36px;
    width: 128px;
    margin-bottom: 0;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-submit-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


#submit-new-project, #submit-new-note{
    margin: 0;
    font-size: 1.3rem;
}


/* End of Modal Code and adding to project */ 

/* Begin code for adding List */ 

.add-list-form {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.display-list {
    height: 50%;
    flex: 1;
    display: flex;
    overflow: scroll;
}


.display-list ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.modal-list-item {
    height: fit-content;
}

.bottom-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
}

#add-to-list-input {
    height: 50%;
}

#add-to-list, #create-list, #edit-list {
    height: 70%;
    width: 20%;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    transition: all .3s ease;
}

#add-to-list:active, #create-list:active, #edit-list:active {
    height: 65%;
    width: 17%;
}


#add-to-list {
    background-color: #408DCA;
}

#create-list, #edit-list {
    background-color: #40CA53;
}

#edit-list {
    display: none;
}


/* End code for adding list */ 


/* Begin code for adding Note */ 

.add-note-form { 
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}


#note-description-input {
    height: 60%;
}

/* End code for adding Note */

/* Begin code for Adding ToDo*/ 

.add-todo-form {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.todo-title-select-project {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#todo-title-input {
    height: 50%;
    width: 50%;
}

.dropbtn {
    background-color: #002BD4;
    color: white;
    padding: 16px;
    font-size: 1.25rem;
    border-radius: 5px;
    border: none;
    min-width: 169px;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    max-height: 300px;
    overflow: auto;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content p:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {opacity: .5;}

#todo-description-input {
    text-align: center;
    height: 20%;
}

#todo-description-input::placeholder {
    text-align: center;
}

#submit-new-todo {
    height: 40px;
    width: 30%;
    font-size: 1rem;
    margin: 0;
}

#submit-new-todo:active {
    height: 35px;
    width: 25%;
}

/* End code for Adding ToDo*/ 