@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
    font-family: "Raleway";
    height: 100vh;
    margin: 100vw;
    margin: 0;
    background-image: linear-gradient(blue, red);
    
}

p {
    margin: 0;
}

.add-form-button {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.add-form-button button {
    height: 100px ;
    width: 200px ;
    border-radius: 25px ;
    color: white;
    background-color: rgba(0, 0, 0, .8 );
    font-size: 24px;
    font-weight: 700;
}


.bg-modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none   ;
}

.exit {
    position: absolute;
    top: -8px;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.modal-content {  
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.modal-content form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.modal-content form > * {
    margin-top: 8px;
    margin-bottom: 8px;
}

.modal-content form .completed > *{
    margin-bottom: 12px;
}

.modal-content form button {
    background-color: blue;
    border: white 2px solid;
    color: white;
    font-size: larger;
    font-weight: 700;
    height: 64px;
    width: 125px;
    border-radius: 25px;
}

.modal-content form button:active {
    border-color: black;
}

.everything-books {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 85%;
    justify-content: flex-start;
    align-content: flex-start;
}

.everything-books .book {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    background-color: #FDD3D3;
    opacity: .8;
    height: 215px;
    width: 215px;
    border-radius: 4px;
    justify-content: space-between;
    padding: 12px;
    margin: 24px;
}

.read-button {
    width: 75%;
    height: 36px;
    border-radius: 15px;
    border: none;
    background-color: #62FF6B;
    font-size: 18px;
    cursor: pointer;

}

.delete-button {
    width: 75%;
    height: 36px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: red;
}
