#create_article_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create_article {
    height: 85%;
    width: 50%;

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content_box {
    width: 300px;
    height: 400px;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}