#main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient( to right top, #4B59BA, #BB5CBD);
}

#admin_login_modal {
    height: 50%;
    width: 45%;
    min-height: 500px;
    min-width: 800px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    padding: 12px;
}

#left_side_login, #right_side_login {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_form {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway";
    flex-direction: column;
    position: relative;
}

#right_side_login {
    font-size: .75rem;
    font-weight: 700;
}

.login_input_cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#username_input, #password_input {
    width: 45%;
    height: 40px;
    border-radius: 25px;
    outline: none;
    padding-left: 10px;
    border: none;
    background-color: #E6E6E6;
    font-size: 1rem;
    margin-bottom: 12px;
}

#sign_in_button {
    width: 47%;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: #6EB454 ; 
    color: white;
    font-weight: 700;
    outline: black ; 
    cursor: pointer;
}

.form_error {
    margin-top: 10px;
    color: rgb(253, 102, 102);
    font-size: 1rem;
    font-weight: 700;
    display: none;
    position: absolute;
    bottom: 15%;

}